<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>The Rock Hawaii</h1>
    <h3>Reaching the island of Oahu and beyond</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>
