---
title: Welcome to The Rock Kailua
---

<div style="alignment: center">
    <%= image_tag "therockkailua_top.png" %>
</div>
<div style="alignment: center">
  <%= image_tag "therockkailua_center.png" %>
</div><!-- .welcome -->
