---
title: Welcome to The Rock Kailua
---

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The Rock Hawaii is a United Pentecostal Church with four locations on Oahu</h2>
        <p class="lead">Our service times and locations are listed below. We hope we see you soon!</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "ywca.png", width: "160", height: "107" %>

              <h4>
                <strong>The Rock Honolulu</strong>
              </h4>
              <p>Sunday Mornings at 10:00am
                <br/>
                YWCA of Honolulu
                <br/>
                1040 Richards St
                <br/>
                Honolulu HI 96813
              </p>

              <a target="_blank" href="https://www.google.com/maps/place/1040+Richards+St,+Honolulu,+HI+96813" class="btn btn-light">Directions</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "ipa.png", width: "160", height: "107" %>

              <h4>
                <strong>The Rock Kapolei</strong>
              </h4>
              <p>Sunday Afternoons at 1:00pm
                <br/>
                Island Pacific Academy
                <br/>
                909 Haumea St
                <br/>
                Kapolei HI 96707
              </p>

              <a target="_blank" href="https://www.google.com/maps/place/909+Haumea+St,+Kapolei,+HI+96707" class="btn btn-light">Directions</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "bayview.png", width: "160", height: "107" %>

              <h4>
                <strong>The Rock Kaneohe</strong>
              </h4>
              <p>Sunday Afternoons at 5:00pm
                <br/>
                Bay View Golf Course
                <br/>
                45-285 Kaneohe Bay Dr
                <br/>
                Kaneohe HI 96744
              </p>

              <a target="_blank" href="https://www.google.com/maps/place/45-285+Kaneohe+Bay+Dr,+Kaneohe,+HI+96744" class="btn btn-light">Directions</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "fbch.png", width: "160", height: "107" %>

              <h4>
                <strong>The Rock Honolulu - East</strong>
              </h4>
              <p>Thursday Evenings at 7:00pm
                <br/>
                FBC of Honolulu
                <br/>
                1313 Pensacola St
                <br/>
                Honolulu HI 96814
              </p>

              <a target="_blank" href="https://www.google.com/maps/place/1313+Pensacola+St,+Honolulu,+HI+96814" class="btn btn-light">Directions</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
  <div class="text-vertical-center">
    <h1>Ministry</h1>
    <h4>
      Jonathan Sanders began preaching at the age of 14 in Indiana, where he was raised, and began to evangelize at the age of 15. He graduated from Texas Bible College in Houston, where he met his wife, Debbie. Debbie Sanders was born in California and raised in Texas. The Sanders assisted Pastor James Kilgore in Houston for some time before moving to Omaha, Nebraska where they pastored for 7 years.
    </h4>
    <h4>
      Because of their love for missions, they began to travel oversees — throughout South America, Australia and the Philippines — and became missionaries in the Middle East (Jordan and Israel) as well as Hong Kong. During their missionary term in the Middle East, Debbie was on the Board of Directors of the National American Women’s Club in Amman, Jordan as Director of Meetings, and enjoyed being extensively involved in music in the American Embassy as well as the Jordanian Parliament.
    </h4>
    <h4>
      Debbie Sanders has been involved with the Ladies Ministries of Hawaii for the past 9 years and currently serves on the National Regional Committee. Debbie also currently serves as the director of Today’s Christian Girl, a national ministry for girls aged 10 – 18. Jonathan and Debbie love to travel and have visited 32 countries, many in which they have had the privilege to teach and minister. The Sanders enjoy different cultures, people and food (and coffee). With their three girls, Alexis, Jordan, and Brooklyn, the Sanders are metro missionaries to Honolulu and are excited about what God is doing in the Islands.
    </h4>
  </div>
</aside>
